---
import { basehub } from "basehub";

const data = await basehub({ token: import.meta.env.BASEHUB_TOKEN }).query({
  waitlist: {
    input: {
      ingestKey: true,
      schema: true,
    },
  },
});
---

<!doctype html>
<html lang="en">
  <head>
    <title>My Website</title>
  </head>
  <body>
    <form>
      {
        data.waitlist.input.schema.map(
          ({ helpText, label, type, ...field }) => {
            if (
              type === "select" ||
              type === "textarea" ||
              type === "datetime"
            ) {
              return <div>not handled</div>;
            }
            return (
              <div>
                <label for={field.id}>{label}</label>
                <input {...field} type={type} />
                {helpText && <p>{helpText}</p>}
              </div>
            );
          }
        )
      }
      <button type="submit">Submit</button>
      <div id="thank-you" style="display: none">Thank you!</div>
    </form>
  </body>
</html>

<script>
  import { actions } from "astro:actions";

  const form = document.querySelector("form");
  form?.addEventListener("submit", async (event) => {
    event.preventDefault();
    const formData = new FormData(form);
    const { error } = await actions.submitEmail(formData);
    if (!error) {
      const thankYou = document.getElementById("thank-you");
      if (thankYou) {
        thankYou.style.display = "block";
        form.reset();
      }
    }
  });
</script>
